.project-card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.project-card-header-name {
    width: 70%;
}

.project-card-header-button {
    margin-left: auto;
}