.timer-watch-face {
    width: 300px;
    height: 300px;
    margin: auto;
    border: 1px solid black;
    border-radius: 50%;
}

.timer-watch-face-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}

.main-timer-digits {
    font-size: 5em;
}

.main-timer-type {
    margin-top: 20px;
    text-transform: uppercase;
}